*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Pretendard';
  line-height: normal;
  overflow-x: hidden;
  background-color: rgb(17, 17, 17);
}

.project_link {
  text-decoration: none;
  color: whitesmoke;
  border-radius: 30px;
  border: 1px solid whitesmoke;
  width: fit-content;
  a {
    padding: 8px;
  }
}
.nav {
  a {
    text-decoration: none;
    color: whitesmoke;
  }

  .home::before {
    content: 'KIMJIHYANG';
    text-decoration: none;
    color: whitesmoke;
  }
  .home:hover::before {
    content: '김지향';
    margin-right: 55px;
    text-decoration: none;
    color: whitesmoke;
  }
  .project::before {
    content: 'Project';
    text-decoration: none;
    color: whitesmoke;
  }
  .project:hover::before {
    content: '프로젝트';
    text-decoration: none;
    color: whitesmoke;
  }
  .project:hover::after {
    text-decoration: none;
    color: whitesmoke;
  }
  .info::before {
    content: 'Info';
    text-decoration: none;
    color: whitesmoke;
  }
  .info:hover::before {
    content: '정보';
    text-decoration: none;
    color: whitesmoke;
  }
  .nav_container {
    display: flex;
    justify-content: space-between;
    margin: 16px;
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 400;
    padding-block: 8px;
    padding-inline: 16px;
  }
}

.project_container {
  width: auto;
  height: auto;
  margin-block: 18px;
  margin-inline: 160px;
  padding-bottom: 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
  .text {
    margin-block: 20px;
    .text_title {
      display: flex;
      color: whitesmoke;
      align-items: flex-end;
      gap: 10px;
      .title {
        font-size: 30px;
        font-weight: 600;
      }
      .category {
        width: fit-content;
        height: fit-content;
        color: white;
        border-radius: 8px;
        padding-inline: 8px;
      }
    }
  }
}

// .img {
//   width: 100%;
//   margin: auto;
//   text-align: center;
//   img {
//     width: 100%;
//     height: auto;
//     margin: 0;
//     padding: 0;
//     vertical-align: top;
//   }
//   video {
//     width: 100%;
//     height: auto;
//     margin: 0;
//     vertical-align: bottom;
//   }
// }

img {
  width: 100%;
  vertical-align: bottom;
}

p {
  color: whitesmoke;
  line-height: 170%;
  margin-inline: 0px;
  margin-block: 18px;
}

.p_text {
  color: whitesmoke;
  line-height: 170%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  align-items: flex-start;
  margin-block: 38px;
  .p_text_K {
    max-width: 50%;
  }
  .p_text_E {
    max-width: 50%;
  }
}

#button {
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  padding-bottom: 180px;
  width: 100%;
  height: fit-content;
  .button_container {
    text-align: center;
    width: 582px;
    .button_section {
      display: flex;
      justify-content: center;
      gap: 32px;
    }
  }
  .text {
    padding-block: 16px;
    color: #fffffe;
    text-align: center;
    font-family: Eulyoo1945;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%; /* 34px */
    a {
      color: #272727;
      text-decoration: none;
    }
  }
  a:hover {
    opacity: 30%;
  }
  img {
    width: auto;
    vertical-align: bottom;
  }
}

.img_flex {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-block: 10px;
  img {
    width: calc(32.8%);
    flex-direction: row;
  }
}

@media (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    .project_container {
      display: flex;
      min-width: 375px;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 16px;
    }
    .p_text {
      min-width: 375px;
      margin: 0;
      flex-direction: column;
      flex-wrap: wrap;
      .p_text_K {
        display: flex;
        max-width: 375px;
      }
      .p_text_E {
        display: flex;
        max-width: 375px;
      }
    }
  }
}
