*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Pretendard';
  line-height: normal;
  overflow-x: hidden;
  background-color: rgb(17, 17, 17);
}

.project_link {
  text-decoration: none;
  color: whitesmoke;
  border-radius: 30px;
  border: 1px solid whitesmoke;
  width: fit-content;
  a {
    padding: 8px;
  }
}
.nav {
  a {
    text-decoration: none;
    color: whitesmoke;
  }

  .home::before {
    content: 'KIMJIHYANG';
    text-decoration: none;
    color: whitesmoke;
  }
  .home:hover::before {
    content: '김지향';
    margin-right: 55px;
    text-decoration: none;
    color: whitesmoke;
  }
  .project::before {
    content: 'Project';
    text-decoration: none;
    color: whitesmoke;
  }
  .project:hover::before {
    content: '프로젝트';
    text-decoration: none;
    color: whitesmoke;
  }
  .project:hover::after {
    text-decoration: none;
    color: whitesmoke;
  }
  .info::before {
    content: 'Info';
    text-decoration: none;
    color: whitesmoke;
  }
  .info:hover::before {
    content: '정보';
    text-decoration: none;
    color: whitesmoke;
  }
  .nav_container {
    display: flex;
    justify-content: space-between;
    margin: 16px;
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 400;
    padding-block: 8px;
    padding-inline: 16px;
  }
}

.project_container {
  width: auto;
  height: auto;
  margin-block: 36px;
  margin-inline: 160px;
  padding-inline: 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
  .text {
    margin-block: 20px;
    .text_title {
      display: flex;
      color: whitesmoke;
      align-items: center;
      gap: 16px;
      flex-direction: column;
      .title {
        font-size: 42px;
        font-weight: 400;
      }
      .category_box {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        gap: 4px;
        .category {
          color: whitesmoke;
          border: 1.4px solid whitesmoke;
          border-radius: 32px;
          padding-inline: 8px;
        }
      }
    }
  }
}

.img {
  width: 100%;
  margin: auto;
  margin-bottom: 160px;
  text-align: center;
  img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: top;
  }
  video {
    width: 100%;
    height: fit-content;
    margin: 0;
    vertical-align: bottom;
  }
}

p {
  color: whitesmoke;
  line-height: 170%;
  margin-inline: 0px;
  margin-block: 18px;
}

.p_text {
  color: whitesmoke;
  line-height: 170%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  align-items: flex-start;
  margin-block: 38px;
  .p_text_K {
    max-width: 50%;
  }
  .p_text_E {
    max-width: 50%;
  }
}

.img_flex {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-block: 10px;
  img {
    width: calc(32.8%);
    flex-direction: row;
  }
}

@media (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    .project_container {
      display: flex;
      max-width: 375px;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 16px;
    }
    iframe {
      max-width: 375px;
      max-height: 198px;
    }
    .img_flex {
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
        flex-direction: column;
      }
    }
    .p_text {
      max-width: 375px;
      margin: 0;
      flex-direction: column;
      flex-wrap: wrap;
      .p_text_K {
        display: flex;
        max-width: 375px;
      }
      .p_text_E {
        display: flex;
        max-width: 375px;
      }
    }
  }
}
