*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Pretendard";
  line-height: normal;
  overflow-x: hidden;
  background-color: black;
}

.nav {
  border-bottom: 1.5px solid whitesmoke;
}
.nav a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Tiqui Taca";
  font-weight: 400;
  font-style: normal;
}
.nav .page_link {
  text-decoration: none;
  color: whitesmoke;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
}
.nav .page_link p {
  font-size: 30px;
  margin: 0%;
  padding-top: 6px;
  flex-wrap: wrap;
}
.nav .page_link a {
  padding: 8px;
}
.nav .work_link {
  text-decoration: none;
  color: whitesmoke;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
}
.nav .work_link p {
  font-size: 24px;
  margin: 0%;
  padding-top: 8px;
  flex-wrap: wrap;
}
.nav .work_link a {
  padding: 8px;
}
.nav .info_link {
  text-decoration: none;
  color: whitesmoke;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
}
.nav .info_link p {
  font-size: 28px;
  margin: 0%;
  padding-top: 8px;
  flex-wrap: wrap;
}
.nav .info_link a {
  padding: 8px;
}
.nav .insta_link {
  text-decoration: none;
  color: whitesmoke;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
}
.nav .insta_link a {
  padding: 8px;
}
.nav .home::before {
  content: "Hyang";
  text-decoration: none;
  color: whitesmoke;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.nav .home:hover::before {
  content: "Hyang";
  text-decoration: none;
  color: #646464;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.nav .work::before {
  content: "Work";
  text-decoration: none;
  color: whitesmoke;
}
.nav .work:hover::before {
  content: "Work";
  text-decoration: none;
  color: #646464;
}
.nav .work:hover::after {
  text-decoration: none;
  color: whitesmoke;
}
.nav .info::before {
  content: "Resume";
  text-decoration: none;
  color: whitesmoke;
}
.nav .info:hover::before {
  content: "Resume";
  text-decoration: none;
  color: #646464;
}
.nav .nav_container {
  display: flex;
  justify-content: space-between;
  margin: 12px;
  font-size: 32px;
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 6px;
  padding-inline: 16px;
}

.background {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.background img {
  width: 400px;
  height: 400px;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  margin: 16px;
}
.main .title {
  margin: 16px;
  padding-inline: 16px;
  font-size: 30px;
  font-weight: 600;
  color: whitesmoke;
}
.main .text {
  font-size: 24px;
  margin-left: 16px;
  margin-right: 16px;
  padding-inline: 16px;
  margin-top: 20px;
  margin-bottom: 80px;
  color: rgb(220, 220, 220);
}
.main .text span {
  color: rgb(220, 220, 220);
}
.main .tool {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-inline: 32px;
  margin-bottom: 64px;
}
.main .tool img {
  width: 100px;
  height: 100px;
}
.main .profile_img {
  margin: 16px;
  padding-inline: 16px;
  width: 375px;
  height: auto;
}
.main .profile_img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 480px) {
  body .main {
    display: flex;
    max-width: 375px;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    gap: 0;
  }
  body .main .profile {
    max-width: 375px;
  }
  body .main .profile .profile_img {
    margin-inline: 16px;
    padding-inline: 16px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
  }
  body .main .tool {
    max-width: 375px;
    height: auto;
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 80px;
  }
  body .main .tool .tool_set {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  body .main .tool img {
    width: 100px;
    flex-grow: 0;
    flex-basis: 100px;
  }
}