*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Pretendard';
  line-height: normal;
  overflow-x: hidden;
  background-color: black;
}

.info_link {
  text-decoration: none;
  color: whitesmoke;
  border-radius: 30px;
  border: 1px solid whitesmoke;
  width: fit-content;
  a {
    padding: 8px;
  }
}

a {
  color: whitesmoke;
  text-decoration-line: none;
}

a:hover {
  color: darkgray;
}

a::after {
  color: whitesmoke;
  text-decoration: none;
}

.nav {
  a {
    text-decoration: none;
    color: whitesmoke;
  }

  .home::before {
    content: 'KIMJIHYANG';
    text-decoration: none;
    color: whitesmoke;
    width: fit-content;
  }
  .home:hover::before {
    content: '김지향';
    text-decoration: none;
    color: whitesmoke;
    width: fit-content;
  }
  .project::before {
    content: 'Project';
    text-decoration: none;
    color: whitesmoke;
  }
  .project:hover::before {
    content: '프로젝트';
    text-decoration: none;
    color: whitesmoke;
  }
  .project:hover::after {
    text-decoration: none;
    color: whitesmoke;
  }
  .info::before {
    content: 'Info';
    text-decoration: none;
    color: whitesmoke;
  }
  .info:hover::before {
    content: '정보';
    text-decoration: none;
    color: whitesmoke;
  }
  .nav_container {
    display: flex;
    justify-content: space-between;
    margin: 16px;
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 400;
    padding-block: 8px;
    padding-inline: 16px;
  }
}

.background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  img {
    width: 400px;
    height: 400px;
    width: 100%;
  }
}
.main {
  .title {
    margin: 16px;
    font-weight: 600;
    color: whitesmoke;
  }
  .text {
    font-size: 30px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 20px;
    margin-bottom: 80px;
    color: rgb(220, 220, 220);
    span {
      color: whitesmoke;
    }
  }
}
