*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Pretendard';
  line-height: normal;
  overflow-x: hidden;
  background-color: rgb(17, 17, 17);
}

.back_section {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
  width: fit-content;
  margin-inline: 20px;
  margin-block: 16px;
  font-size: 18px;
  a {
    text-decoration: none;
    color: whitesmoke;
    padding: 2px;
  }
}

.project_container {
  width: auto;
  height: auto;
  margin-block: 36px;
  margin-inline: 160px;
  padding-inline: 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
  .text {
    margin-block: 20px;
    .text_title {
      display: flex;
      color: whitesmoke;
      align-items: center;
      gap: 16px;
      flex-direction: column;
      .title {
        font-size: 42px;
        font-weight: 400;
      }
      .category_box {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        gap: 4px;
        .category {
          color: whitesmoke;
          border: 1.4px solid whitesmoke;
          border-radius: 32px;
          padding-inline: 8px;
        }
      }
    }
  }
}

img {
  width: 100%;
  vertical-align: bottom;
}

p {
  color: whitesmoke;
  line-height: 170%;
  margin-inline: 0px;
  margin-block: 18px;
}

.contents_box {
  width: auto;
  margin: 0;
  padding-block: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  .contents_text {
    width: auto;
    margin: 0;
    padding-inline: 185px;
    text-align: center;
    p {
      word-break: keep-all;
      padding-block: 8px;
      text-align: center;
    }
  }
}

#button {
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  padding-bottom: 180px;
  width: 100%;
  height: fit-content;
  .button_container {
    text-align: center;
    width: 582px;
    .button_section {
      display: flex;
      justify-content: center;
      gap: 32px;
    }
  }
  .text {
    padding-block: 16px;
    color: #fffffe;
    text-align: center;
    font-family: Eulyoo1945;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%; /* 34px */
    a {
      color: #272727;
      text-decoration: none;
    }
  }
  a:hover {
    opacity: 30%;
  }
  img {
    width: auto;
    vertical-align: bottom;
  }
}

.img_flex {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-block: 10px;
  img {
    width: calc(32.8%);
    flex-direction: row;
  }
}

@media (max-width: 480px) {
  * {
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    .project {
      max-width: 375px;
    }
    .project_container {
      display: flex;
      max-width: 370px;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 16px;
      padding-inline: 2px;
    }
    img {
      max-width: 343px;
    }
    iframe {
      max-width: 343px;
      max-height: 198px;
    }
    .button_container {
      max-width: 343px;
    }
    .button_section {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      img {
        width: fit-content;
      }
    }
    .img_flex {
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .button_text {
      display: flex;
      flex-direction: colum;
      flex-wrap: wrap;
      justify-content: center;
      padding: 6px;
      span {
        margin-inline: 8px;
      }
    }
    .contents_box {
      margin: 0;
      padding-block: 18px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 375px;
      flex-wrap: wrap;
      .contents_text {
        width: auto;
        margin: 0;
        padding-inline: 0;
        p {
          word-break: keep-all;
          padding-block: 8px;
          text-align: left;
        }
      }
    }
  }
}
